:root {
  --dice-size: 100px;
  --text-color: #000000;
  --background: #70c1b3;
  --dice-color: #ffffff;
  --dice-dot-color: #ff0000;
  --roll-button-color: #fc4866;
  --roll-button-hover: #ff7c92;
  --roll-button-press: #a1283c;
  --roll-button-disabled: #747474;
  --one-button-color: #5e5cee;
  --one-button-hover: #9694ee;
  --one-button-press: #363599;
  --two-button-color: #f3a939;
  --two-button-hover: #ebc081;
  --two-button-press: #8f6322;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  user-select: none;
}

body, html, .roll-dice-container, .select-dice-container {
  height: 100%;
  background-color: var(--background);
}


/* ========== Selection screen ========== */

.dice-select-button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.dice-select-button:first-of-type {
  margin: 20px 20px 10px 20px;
  background-color: var(--one-button-color);
}

.dice-select-button:first-of-type:hover {
  background-color: var(--one-button-hover);
}

.dice-select-button:first-of-type:active {
  background-color: var(--one-button-press);
}

.dice-select-button:last-of-type {
  margin: 10px 20px 20px 20px;
  background-color: var(--two-button-color);
}

.dice-select-button:last-of-type:hover {
  background-color: var(--two-button-hover);
}

.dice-select-button:last-of-type:active {
  background-color: var(--two-button-press);
}

.select-button {
  font-size: 2rem;
  font-weight: bold;
}




/* ========== Dice screen ========== */

.roll-dice-container, .select-dice-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roll-button {
  background-color: var(--roll-button-color);
  padding: 20px 100px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.roll-button:hover {
  background-color: var(--roll-button-hover);
}

.roll-button:active {
  background-color: var(--roll-button-press);
}

.roll-button:disabled {
  color: var(--text-color);
  background-color: var(--roll-button-disabled);
}

.dice-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}

.result-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dice-result {
  font-size: 4rem;
  font-weight: bold;
}

.dice {
  aspect-ratio:1;
  width: var(--dice-size);
  height: var(--dice-size);
  background-color: var(--dice-color);
  border-radius: 8px;
  position: relative;
}

.dice-dot {
  width: calc(var(--dice-size) * 0.2);
  height: calc(var(--dice-size) * 0.2);
  background-color: var(--dice-dot-color);
  border-radius: 100%;
}


/* Dice dots states */

.dice[value="0"] .dot-1 { display: none; }
.dice[value="0"] .dot-2 { display: none; }
.dice[value="0"] .dot-3 { display: none; }
.dice[value="0"] .dot-4 { display: none; }
.dice[value="0"] .dot-5 { display: none; }
.dice[value="0"] .dot-6 { display: none; }

.dice[value="1"] .dot-1 { position: absolute; top: calc(var(--dice-size) * 0.4); left: calc(var(--dice-size) * 0.4); }
.dice[value="1"] .dot-2 { display: none; }
.dice[value="1"] .dot-3 { display: none; }
.dice[value="1"] .dot-4 { display: none; }
.dice[value="1"] .dot-5 { display: none; }
.dice[value="1"] .dot-6 { display: none; }

.dice[value="2"] .dot-1 { position: absolute; top: calc(var(--dice-size) * 0.1); left: calc(var(--dice-size) * 0.1); }
.dice[value="2"] .dot-2 { position: absolute; top: calc(var(--dice-size) * 0.7); left: calc(var(--dice-size) * 0.7); }
.dice[value="2"] .dot-3 { display: none; }
.dice[value="2"] .dot-4 { display: none; }
.dice[value="2"] .dot-5 { display: none; }
.dice[value="2"] .dot-6 { display: none; }

.dice[value="3"] .dot-1 { position: absolute; top: calc(var(--dice-size) * 0.1); left: calc(var(--dice-size) * 0.1); }
.dice[value="3"] .dot-2 { position: absolute; top: calc(var(--dice-size) * 0.7); left: calc(var(--dice-size) * 0.7); }
.dice[value="3"] .dot-3 { position: absolute; top: calc(var(--dice-size) * 0.4); left: calc(var(--dice-size) * 0.4); }
.dice[value="3"] .dot-4 { display: none; }
.dice[value="3"] .dot-5 { display: none; }
.dice[value="3"] .dot-6 { display: none; }

.dice[value="4"] .dot-1 { position: absolute; top: calc(var(--dice-size) * 0.1); left: calc(var(--dice-size) * 0.1); }
.dice[value="4"] .dot-2 { position: absolute; top: calc(var(--dice-size) * 0.7); left: calc(var(--dice-size) * 0.7); }
.dice[value="4"] .dot-3 { position: absolute; top: calc(var(--dice-size) * 0.1); left: calc(var(--dice-size) * 0.7); }
.dice[value="4"] .dot-4 { position: absolute; top: calc(var(--dice-size) * 0.7); left: calc(var(--dice-size) * 0.1); }
.dice[value="4"] .dot-5 { display: none; }
.dice[value="4"] .dot-6 { display: none; }

.dice[value="5"] .dot-1 { position: absolute; top: calc(var(--dice-size) * 0.1); left: calc(var(--dice-size) * 0.1); }
.dice[value="5"] .dot-2 { position: absolute; top: calc(var(--dice-size) * 0.7); left: calc(var(--dice-size) * 0.7); }
.dice[value="5"] .dot-3 { position: absolute; top: calc(var(--dice-size) * 0.1); left: calc(var(--dice-size) * 0.7); }
.dice[value="5"] .dot-4 { position: absolute; top: calc(var(--dice-size) * 0.7); left: calc(var(--dice-size) * 0.1); }
.dice[value="5"] .dot-5 { position: absolute; top: calc(var(--dice-size) * 0.4); left: calc(var(--dice-size) * 0.4); }
.dice[value="5"] .dot-6 { display: none; }

.dice[value="6"] .dot-1 { position: absolute; top: calc(var(--dice-size) * 0.1); left: calc(var(--dice-size) * 0.1); }
.dice[value="6"] .dot-2 { position: absolute; top: calc(var(--dice-size) * 0.7); left: calc(var(--dice-size) * 0.7); }
.dice[value="6"] .dot-3 { position: absolute; top: calc(var(--dice-size) * 0.1); left: calc(var(--dice-size) * 0.7); }
.dice[value="6"] .dot-4 { position: absolute; top: calc(var(--dice-size) * 0.7); left: calc(var(--dice-size) * 0.1); }
.dice[value="6"] .dot-5 { position: absolute; top: calc(var(--dice-size) * 0.4); left: calc(var(--dice-size) * 0.1); }
.dice[value="6"] .dot-6 { position: absolute; top: calc(var(--dice-size) * 0.4); left: calc(var(--dice-size) * 0.7); }