/* ===== Dice styles ===== */
.dice {
  aspect-ratio:1;
  width: var(--dice-size);
  height: var(--dice-size);
  background-color: var(--dice-color);
  border-radius: 8px;
  position: relative;
}

.dice-dot {
  width: calc(var(--dice-size) * 0.2);
  height: calc(var(--dice-size) * 0.2);
  background-color: var(--dice-dot-color);
  border-radius: 100%;
}


/* Dice dots states */

.dice[value="0"] .dot-1 { display: none; }
.dice[value="0"] .dot-2 { display: none; }
.dice[value="0"] .dot-3 { display: none; }
.dice[value="0"] .dot-4 { display: none; }
.dice[value="0"] .dot-5 { display: none; }
.dice[value="0"] .dot-6 { display: none; }

.dice[value="1"] .dot-1 { position: absolute; top: calc(var(--dice-size) * 0.4); left: calc(var(--dice-size) * 0.4); }
.dice[value="1"] .dot-2 { display: none; }
.dice[value="1"] .dot-3 { display: none; }
.dice[value="1"] .dot-4 { display: none; }
.dice[value="1"] .dot-5 { display: none; }
.dice[value="1"] .dot-6 { display: none; }

.dice[value="2"] .dot-1 { position: absolute; top: calc(var(--dice-size) * 0.1); left: calc(var(--dice-size) * 0.1); }
.dice[value="2"] .dot-2 { position: absolute; top: calc(var(--dice-size) * 0.7); left: calc(var(--dice-size) * 0.7); }
.dice[value="2"] .dot-3 { display: none; }
.dice[value="2"] .dot-4 { display: none; }
.dice[value="2"] .dot-5 { display: none; }
.dice[value="2"] .dot-6 { display: none; }

.dice[value="3"] .dot-1 { position: absolute; top: calc(var(--dice-size) * 0.1); left: calc(var(--dice-size) * 0.1); }
.dice[value="3"] .dot-2 { position: absolute; top: calc(var(--dice-size) * 0.7); left: calc(var(--dice-size) * 0.7); }
.dice[value="3"] .dot-3 { position: absolute; top: calc(var(--dice-size) * 0.4); left: calc(var(--dice-size) * 0.4); }
.dice[value="3"] .dot-4 { display: none; }
.dice[value="3"] .dot-5 { display: none; }
.dice[value="3"] .dot-6 { display: none; }

.dice[value="4"] .dot-1 { position: absolute; top: calc(var(--dice-size) * 0.1); left: calc(var(--dice-size) * 0.1); }
.dice[value="4"] .dot-2 { position: absolute; top: calc(var(--dice-size) * 0.7); left: calc(var(--dice-size) * 0.7); }
.dice[value="4"] .dot-3 { position: absolute; top: calc(var(--dice-size) * 0.1); left: calc(var(--dice-size) * 0.7); }
.dice[value="4"] .dot-4 { position: absolute; top: calc(var(--dice-size) * 0.7); left: calc(var(--dice-size) * 0.1); }
.dice[value="4"] .dot-5 { display: none; }
.dice[value="4"] .dot-6 { display: none; }

.dice[value="5"] .dot-1 { position: absolute; top: calc(var(--dice-size) * 0.1); left: calc(var(--dice-size) * 0.1); }
.dice[value="5"] .dot-2 { position: absolute; top: calc(var(--dice-size) * 0.7); left: calc(var(--dice-size) * 0.7); }
.dice[value="5"] .dot-3 { position: absolute; top: calc(var(--dice-size) * 0.1); left: calc(var(--dice-size) * 0.7); }
.dice[value="5"] .dot-4 { position: absolute; top: calc(var(--dice-size) * 0.7); left: calc(var(--dice-size) * 0.1); }
.dice[value="5"] .dot-5 { position: absolute; top: calc(var(--dice-size) * 0.4); left: calc(var(--dice-size) * 0.4); }
.dice[value="5"] .dot-6 { display: none; }

.dice[value="6"] .dot-1 { position: absolute; top: calc(var(--dice-size) * 0.1); left: calc(var(--dice-size) * 0.1); }
.dice[value="6"] .dot-2 { position: absolute; top: calc(var(--dice-size) * 0.7); left: calc(var(--dice-size) * 0.7); }
.dice[value="6"] .dot-3 { position: absolute; top: calc(var(--dice-size) * 0.1); left: calc(var(--dice-size) * 0.7); }
.dice[value="6"] .dot-4 { position: absolute; top: calc(var(--dice-size) * 0.7); left: calc(var(--dice-size) * 0.1); }
.dice[value="6"] .dot-5 { position: absolute; top: calc(var(--dice-size) * 0.4); left: calc(var(--dice-size) * 0.1); }
.dice[value="6"] .dot-6 { position: absolute; top: calc(var(--dice-size) * 0.4); left: calc(var(--dice-size) * 0.7); }